.nav-list-link {
    color: rgb(114, 83, 237);
    font-weight: bold;
}

.site-button {
    color: rgb(114, 83, 237);
    font-weight: bold;
}

a {
    color: rgb(114, 83, 237);
    font-weight: bold;
}

.site-footer {
    visibility: hidden;
    display: none;
}